version: '3'
services:
    mongo:
        container_name: mongo
        image: mongo
        ports:
            - "27017:27017"
        environment: 
            DB_ROOT_PASSWORD: "password"
        volumes: 
            - db-data:/infinitecanvas_db
        networks: 
            - webnet
    redis:
        container_name: redis
        image: redis
        ports:
            - "6379:6379"
        networks: 
            - webnet
    web:
        container_name: infinitecanvas
        build: .
        ports:
            - "5000:3000"
        depends_on:
            - kafka
            - mongo
            - redis
        networks: 
            - webnet
        environment:
            REDIS_HOST : redis
        volumes:
            - .:/src
            - /node_modules
        command: >
            sh -c "npm run build && node dist/server.js"

volumes:
    db-data :
networks: 
    webnet :